.weather__img{
    float:right;
}

.weather__country{
    font-size: 13px;
    padding-left: 40px;
}

.weather__condition{
    font-size: 28px;
    padding-left: 10px;
    padding-top: 5px;
}

.weather__wind{
    font-size: 14px;
    font-style: initial
}

.weather__group{
    display: flex;
}

.weather__wind__title{
    font-size: 16px;
    padding-right: 5px;
}

.weather__wind__icon{
    background-color: white;
}

.weather__wind__wrapper:hover .weather__wind__icon{
    background-color: gray;
}
.spacing{
    padding-bottom: 20px;
}