.weather--img{
    float:right;
}
.weather--country{
    font-size: 13px;
    padding-left: 40px;
}
.weather--condition{
    font-size: 28px;
    padding-left: 10px;
    padding-top: 5px;
}
.weather--wind{
    font-size: 14px;
    font-style: initial
}
.weather--group{
    display: flex;
}
.weather--wind__title{
    font-size: 16px;
    padding-right: 5px;
}
.weather--wind__icon{
    background-color: white;
}

.weather--wind__wrapper:hover .weather--wind__icon{
    background-color: gray;
}
.spacing{
    padding-bottom: 20px;
}