
.result-wrapper {
    position: relative;
    top: 10px;
  }
  
  .search-result {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    width: 100%;
  }
  .hover{
    background-color: rgb(222, 218, 218);
  }
  .search-result:hover {
    background-color: rgb(222, 218, 218);
  }

  .loading-text {
    margin: 0px;
    text-align: center;
  }
  .loading-text:hover {
      background-color: rgb(222, 218, 218);
  }
  .selected-option{
    background-color: rgb(222, 218, 218);
  }
  
  .search-result-wrapper {
    background-color: white;
    color: black;
    padding: 10px;
    position: absolute;
  
    border: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 100%;
    z-index: 2;
  }
  
  .search-loading {
    color: black;
    padding: 50px;
  }