
.result__wrapper {
    position: relative;
    top: 10px;
  }
  
  .search__result {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    width: 100%;
    white-space: break-spaces;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .darker{
    background-color: #2f274b0f
  }
  .hover{
    background-color: rgb(222, 218, 218);
  }

  .search__result:hover {
    background-color: rgb(222, 218, 218);
  }

  .loading__text {
    margin: 0px;
    text-align: center;
  }

  .loading__text:hover {
      background-color: rgb(222, 218, 218);
  }

  .selected__option{
    background-color: rgb(222, 218, 218);
  }
  
  .search__result__wrapper {
    background-color: white;
    color: black;
    padding: 10px;
    position: absolute;
  
    border: 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    width: 100%;
    z-index: 2;
  }
  
  .search__loading {
    color: black;
    padding: 50px;
  }