.weather__text{
    text-align: center;
    padding-top: 5px;
}

.image__container {
    position: relative;
    padding-top: 100%;
}

.centered__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide{
    display: none;
}

.show{
    display: block;
}